.hobbies{
    padding: 1rem;
    margin-bottom: 1rem;
}

.hobbies__titulo{
    color: var(--cor-texto);
    font-size: var(--titulo);
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.2rem;
}

.hobbies__secao{
    background-color: var(--cor-secao);
    border-radius: 5px;
    display: grid;
    column-gap: .5rem;
    gap: 2rem 1rem;
    grid-template-columns: auto auto;
    place-items: center;
}

.hobbie{
    align-items: center;
    background-color: transparent;
    height: auto;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    border-radius: 5px;
    width: 100%;
}

.hobbie__imagem{
    width: 45px;
    height: 45px;
    padding-bottom: 1rem;

}

.hobbie__nome{
    color: rgb(84, 187, 228);
    font-weight: 600;
}

@media screen and (min-width:768px) {
    .hobbies__secao{
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width:1220px) {

    .hobbies{
        padding: 1rem 6rem;
    }

    .hobbie{
        background-color: var(--cor-secao);
        transition: all .3s ease-in-out;
    }

    .hobbie:hover{
        box-shadow: 0px 0px 4px 5px #525252;
        transform: scale(1.05);
        z-index: 1;
    }

    .hobbies__secao{
        gap: 2rem auto;
        grid-template-columns: auto auto auto auto auto;
    }
}